<header>
  <nav class="navbar navbar-dark navbar-expand-lg sticky-top">
    <a href="#" class="navbar-brand">
      <i class="far fa-lightbulb"></i>
      <h4>Quantum</h4>
    </a>
    <ul class="navbar-nav ml-auto" *ngIf="nav.visible">
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav">
          <li class="navbar-item active">
            <a href="#" class="nav-link">DASHBOARD</a>
          </li>
          <li class="navbar-item">
            <a href="#" class="nav-link" style="color: #3fd28b">CONTENT</a>
          </li>
          <li class="navbar-item">
            <a href="#" class="nav-link" style="color: #3fd28b">USERS</a>
          </li>
          <li class="navbar-item">
            <a href="#" class="nav-link" style="color: #3fd28b">REPORTS</a>
          </li>
          <li class="navbar-item">
            <a href="#" class="nav-link" style="color: #3fd28b">ADMIN</a>
          </li>
        </ul>
      </div>
      <div class="navbar-flex-row">
        <ul class="navbar-nav ml-auto">
          <li class="navbar-item" style="display: inline">
            <a href="#" class="nav-link"
              ><i class="fas fa-bell d-flex align-items-start"
                ><span class="badge badge-pill badge-primary">2</span></i
              ></a
            >
          </li>
          <li class="navbar-item" style="display: inline">
            <a href="#" class="nav-link"
              ><i class="fas fa-bullhorn d-flex align-items-start">
                <span class="badge badge-primary badge-pill">1</span>
              </i></a
            >
          </li>
          <li class="navbar-item">
            <a href="#" class="nav-link">
              <div class="d-flex align-items-start">
                <img src="assets/profile-pic.jpg" alt="Profile picture" />
                <span
                  class="badge badge-primary badge-pill"
                  style="background-color: white; color: black"
                  >T</span
                >
              </div>
            </a>
          </li>
        </ul>
      </div>
    </ul>
    <button
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon ml-auto"></span>
    </button>
  </nav>
</header>
