i {
  font-size: 30px;
  color: #f9d217;
  margin-left: 10px;
}

.navbar-brand > h4 {
  font-size: 1.2em;
  display: inline;
  margin-left: 5px;
}

.navbar-brand {
  margin-left: 1em;
}

nav {
  background-color: #25313f;
  border-bottom: 3px solid #3fd28b;
}
