<div class="search-info">
  <h6>Showing 4 of 4 courses</h6>
  <div class="search-filter">
    <label for="sort-by">Sort by:</label>
    <select id="sort-by">
      <option value="course-name" (click)="sortByName = true">
        Course Name
      </option>
    </select>
    <i class="fas fa-arrow-up"></i>
  </div>
</div>

<div class="courses-container">
  <ng-container></ng-container>
  <div class="course-card" *ngFor="let card of cards | sortname">
    <div class="expired-tag" *ngIf="card.isExpired">
      <span>Expired</span>
    </div>
    <div class="card-img">
      <img src="{{ card.imageUrl }}" alt="{{ card.title }}" />
    </div>
    <div class="topic-details">
      <div class="card-title">
        <h6>{{ card.title }}</h6>
        <span class="material-icons" *ngIf="card.isStarred">star</span>
      </div>
      <div class="descrp">
        <p>
          <span class="card-subject">
            {{ card.subject }}
          </span>
          <span class="card-grade">Grade {{ card.grade }} + </span>
          <span class="card-grade-plus">
            <strong>{{ card.gradePlus }}</strong>
          </span>
          <br />
          <span *ngIf="card.totalUnits > 0">
            <strong>{{ card.totalUnits }} </strong>
            Units
          </span>
          <span *ngIf="card.totalLessons > 0">
            <strong>{{ card.totalLessons }}</strong>
            Lessons
          </span>
          <span *ngIf="card.totalTopics > 0">
            <strong>{{ card.totalTopics }} </strong>
            Topics
          </span>
        </p>
      </div>
    </div>
    <div class="class-and-info">
      <select id="search-filter">
        <option *ngIf="card.dropdownList == []">No Classes</option>
        <option *ngFor="let dropdown of card.dropdownList">
          {{ dropdown }}
        </option>
      </select>
      <span *ngIf="card.totalStudents > 0"
        >{{ card.totalStudents }} Students
      </span>
      <span *ngIf="card.date !== ''">{{ card.date }} </span>
    </div>
    <div class="card-icons">
      <span class="material-icons">visibility</span>
      <span class="material-icons">event</span>
      <span class="material-icons">event_available</span>
      <span class="material-icons">insert_chart</span>
    </div>
  </div>
</div>
