.main-container {
  margin: 25px auto 10px;
  width: 80%;
}

.tab-selection {
  background-color: #8ddc97;
  display: flex;
  height: 40px;
  font-size: 1em;
}
.tab-selection > div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.tab-selection > div > a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab-selection > div > a:link {
  color: #000;
  background-color: transparent;
  text-decoration: none;
}
.tab-selection > div > a:visited {
  color: #000;
  background-color: transparent;
  text-decoration: none;
}
.material-icons.md-36 {
  font-size: 25px;
}
.course-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid black;
}
.search-info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border-bottom: 2px solid #0000003d;
}
.search-filter > select {
  border: none;
  border-bottom: 2px solid #0000003d;
  font-weight: bold;
  outline: none;
  background-color: #eeeeee;
}
.search-filter > i {
  color: #1f7a54;
  font-size: 1.2em;
}
