<main>
  <div class="main-container">
    <div class="tab-selection">
      <div class="course-tab">
        <a href="#">
          <span class="material-icons md-36">class</span>
          4 Courses
        </a>
      </div>
      <div class="class-tab">
        <a href="#">
          <span class="material-icons md-36"> people </span>
          4 Classes
        </a>
      </div>
    </div>
    <div class="search-info">
      <h6>Showing 4 of 4 courses</h6>
      <div class="search-filter">
        <label for="sort-by">Sort by:</label>
        <select id="sort-by">
          <option value="course-name">Course Name</option>
          <option value="course-type">Course Type</option>
          <option value="course-length">Course Length</option>
        </select>
        <i class="fas fa-arrow-up"></i>
      </div>
    </div>
    <app-card></app-card>
    <!-- <div class="course-card">
        <div class="card-img">
          <img src="assets/displacement-card.jpg" alt="Displacement" />
        </div>
        <div class="topic-details">
          <div class="card-title">
            <h6>Displacement, Velocity and Speed</h6>
            <span class="material-icons">star</span>
          </div>
          <div class="descrp">
            <p>
              <span
                style="padding-right: 10px; border-right: 2px solid #0000003d"
                >Physics 2</span
              >
              <span style="padding-left: 5px">Grade 6 +</span
              ><span style="color: #1f7a54">3</span>
              <br />
              <strong>2</strong> Units <strong>15</strong> Lessons
              <strong>20</strong> Topics
            </p>
          </div>
        </div>
        <div class="class-and-info">
          <select id="search-filter">
            <option value="No Classes" selected disabled>
              <span style="opacity: 0.5">No Classes</span>
            </option>
          </select>
        </div>
        <div class="card-icons">
          <span class="material-icons">visibility</span>
          <span class="material-icons" style="opacity: 0.5">event</span>
          <span class="material-icons" style="opacity: 0.5">
            event_available
          </span>
          <span class="material-icons">insert_chart</span>
        </div>
      </div>

      <div class="course-card">
        <div class="card-img">
          <img src="assets/biology-card.jpg" alt="Biology" />
        </div>
        <div class="topic-details">
          <div class="card-title">
            <h6>
              Introduction to Biology: Micro organisms and how they affect...
            </h6>
            <span class="material-icons">star</span>
          </div>
          <div class="descrp">
            <p>
              <span
                style="padding-right: 10px; border-right: 2px solid #0000003d"
                >Biology</span
              >
              <span style="padding-left: 5px">Grade 4 +</span
              ><span style="color: #1f7a54">1</span>
              <br />
              <strong>5</strong> Units <strong>16</strong> Lessons
              <strong>22</strong> Topics
            </p>
          </div>
        </div>
        <div class="class-and-info">
          <select id="search-filter">
            <option value="all-classes">All Classes</option>
            <option value="class-a-frank">Mr. Frank's Class A</option>
          </select>
          <p>300 Students</p>
        </div>
        <div class="card-icons">
          <span class="material-icons">visibility</span>
          <span class="material-icons" style="opacity: 0.5">event</span>
          <span class="material-icons" style="opacity: 0.5"
            >event_available
          </span>
          <span class="material-icons">insert_chart</span>
        </div>
      </div>

      <div class="course-card">
        <div class="expired-tag">
          <span>Expired</span>
        </div>
        <div class="card-img">
          <img src="assets/maths-card.jpg" alt="Acceleration" />
        </div>
        <div class="topic-details">
          <div class="card-title">
            <h6>Introduction to High School Mathematics</h6>
          </div>
          <div class="descrp">
            <p>
              <span
                style="padding-right: 10px; border-right: 2px solid #0000003d"
                >Mathematics</span
              >
              <span style="padding-left: 5px">Grade 8 +</span
              ><span style="color: #1f7a54">3</span>
            </p>
          </div>
        </div>
        <div class="class-and-info">
          <select id="search-filter">
            <option value="class-b-frank">Mr. Frank's Class B</option>
            <option value="class-a-frank">Mr. Frank's Class A</option>
          </select>
          <p>44 Students 14-Oct-2019 - 20-Oct-2020</p>
        </div>
        <div class="card-icons">
          <span class="material-icons">visibility</span>
          <span class="material-icons">event</span>
          <span class="material-icons">event_available</span>
          <span class="material-icons">insert_chart</span>
        </div>
      </div> -->
  </div>
</main>
