/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

html body {
  font-family: "Quicksand", sans-serif;
  background-color: #eeee;
}
i {
  color: #f9d217;
}
a {
  text-decoration: none;
}
